.container {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    padding-top: 200px;
    position: relative;
}
img{
    width: 50%;
    height: 50%;
    margin-top: -35%;
    margin-left: 80%;
}
.sectionOne {
    width: 50%;
}


.sectionTwo {
    width: 50%;
    position: relative;
}
button{
    background-color: green;
    color: white;
    padding: 1rem;
    margin-top: 3px;
    border-radius: 2rem;
    box-shadow: 20px;
}


.p{
    display: absolute;
    justify-content: space-between;
    align-items: center;
    margin: 0 10%;
    margin-top: 100px;
    padding: 10% 5%;
    transition: ease-in-out 2s;
}     

.card{
    display: flex;
    justify-content: space-between;
    width: 30%;
    height: 40%;
    margin-bottom: 30%;

}
h2{
    color: red;
}
